body {
  margin: 0;
  padding: 0;
  background-image: linear-gradient(to right, #8360c3, #2ebf91);
}

header {
  border: 2px solid none;
  padding: 10px;
  background-color: #777777;
}

.container-sectors {
  background-color: #2ebf91;
  padding: 10px;
  display: grid;
  grid-template-columns: repeat(8, 1fr);
}

.sector-1,
.sector-2,
.sector-3,
.sector-4 {
  border: 2px solid red;
  width: 100px;
  height: 100px;
  position: relative;
}

.overlay {
  /* Usuń property display: none; */
  opacity: 0; /* Dodaj nowe property */
  visibility: hidden; /* Dodaj nowe property */
  position: fixed; /* Dodaj nowe property */
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.5);
  display: flex; /* Usuń property display: none; */
  justify-content: center;
  align-items: center;
  transition: opacity 0.3s, visibility 0.3s; /* Dodaj nowe property */
  
}

.overlay.visible {
  opacity: 1;
  visibility: visible;
}

.overlay.visible .modal {
  opacity: 1;
}



.modal {
  display: flex;
  flex-direction: column;
  background-color: #fff;
  padding: 20px;
  opacity: 0; /* Dodaj nowe property */
  transition: opacity 0.3s; /* Dodaj nowe property */
  border: 2px solid red;
}

.border-owner, .border-points {
  border: 1px solid rgb(140, 104, 104);
  border-radius: 10px;
  width: 100px;
  height: 20px;
  padding: 2px; 
  background-color: rosybrown;
}

.owner-all, .points-all {
  display: flex;
  flex-direction: row;
}


.closeBtn {
  margin-top: 10px;
}

.sector-1:hover,
.sector-2:hover,
.sector-3:hover,
.sector-4:hover {
  border: 2px dashed green;
  background-color: #d0d0d06a;
}
