body {
  margin: 0;
  padding: 0;
  background-image: linear-gradient(to right, #8360c3, #2ebf91);
}

header {
  border: 2px solid none;
  padding: 10px;
  background-color: #777777;
}

.container-sectors {
  background-color: #2ebf91;
  padding: 10px;
  display: grid;
  grid-template-columns: repeat(8, 1fr);
}

.sector-1,
.sector-2,
.sector-3,
.sector-4 {
  border: 2px solid red;
  width: 100px;
  height: 100px;
  position: relative;
}

.overlay {
  /* Usuń property display: none; */
  opacity: 0; /* Dodaj nowe property */
  visibility: hidden; /* Dodaj nowe property */
  position: fixed; /* Dodaj nowe property */
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.5);
  display: flex; /* Usuń property display: none; */
  justify-content: center;
  align-items: center;
  transition: opacity 0.3s, visibility 0.3s; /* Dodaj nowe property */
  
}

.overlay.visible {
  opacity: 1;
  visibility: visible;
}

.overlay.visible .modal {
  opacity: 1;
}



.modal {
  display: flex;
  flex-direction: column;
  background-color: #fff;
  padding: 20px;
  opacity: 0; /* Dodaj nowe property */
  transition: opacity 0.3s; /* Dodaj nowe property */
  border: 2px solid red;
}

.border-owner, .border-points {
  border: 1px solid rgb(140, 104, 104);
  border-radius: 10px;
  width: 100px;
  height: 20px;
  padding: 2px; 
  background-color: rosybrown;
}

.owner-all, .points-all {
  display: flex;
  flex-direction: row;
}


.closeBtn {
  margin-top: 10px;
}

.sector-1:hover,
.sector-2:hover,
.sector-3:hover,
.sector-4:hover {
  border: 2px dashed green;
  background-color: #d0d0d06a;
}

/* ATTACK BUTTON WINDOW ETC. */

.attack-overlay {
  opacity: 0;
  visibility: hidden;
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.5);
  display: flex;
  justify-content: center;
  align-items: center;
  transition: opacity 0.3s, visibility 0.3s;
}

.attack-overlay.visible {
  opacity: 1;
  visibility: visible;
}

.attack-modal {
  display: flex;
  flex-direction: column;
  background-color: #583419;
  border: 2px solid #7f522b;
  border-radius: 20px;
  width: 60%;
  height: 65%;
  overflow: hidden;
}

.top-header-container {
  display: flex;
  flex-direction: row;
}

.h2-text-header {
  margin: 0;
  text-align: center;
  color: #f3d6a0;
  border: none;
  background: linear-gradient(0deg, rgba(2,0,36,1) 0%, rgba(67,20,9,1) 0%, rgba(103,37,23,1) 100%);
}

.top-header img {
  width: 80px;
  height: 80px;
  border: 1px solid #000;
}

.text-header-container {
    margin-left: 10px;
}

.text-header-container h3, p {
  margin: 0;
  padding: 0;
}

.top-header {
  display: flex;
  margin: 1%;
  border: 1px solid #744b1f;
  width: 48%;
  background: linear-gradient(0deg, rgba(2,0,36,1) 0%, rgba(40,21,7,1) 0%, rgba(55,30,11,1) 100%);
  color: #f3d6a0;
  font-weight: 100;
}

.main-my-army {
  border: 1px solid #744b1f;
  background: linear-gradient(0deg, rgba(2,0,36,1) 0%, rgba(40,23,16,1) 0%, rgba(39,23,7,1) 100%);
  margin: 0 1% 1% 1%;
  width: 48%;
}

.my-army-header { 
  color: #5d7181;
  text-align: center;
  font-weight: 100;
  background: linear-gradient(0deg, rgba(2,0,36,1) 0%, rgba(34,29,29,1) 0%, rgba(50,44,42,1) 100%);
}

.my-army-header h4 {
  margin: 0;
}

.main-units-border {
  display: grid;
  grid-template-columns: repeat(4, .15fr);
  grid-gap: 1px;
  grid-row-gap: 10px;
  border: 1px solid #58351f;
  padding: 5px;
}

.unit-border {
  position: relative;
  border: 2px solid #744b24;
  border-radius: 5px;
  width: 50px;
  height: 50px;
}

.unit-border::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  box-shadow: inset 0px 0px 5px rgba(0, 0, 0, 1);
  z-index: -1;
}

.main-army {
  display: flex;
  align-items: flex-start;
}

.main-enemy-army {
  border: 1px solid #744b1f;
  background: linear-gradient(0deg, rgba(2,0,36,1) 0%, rgba(40,23,16,1) 0%, rgba(39,23,7,1) 100%);
  margin: 0 1% 1% 1%;
  width: 48%;
}

.main-chose-army {
  display: grid;
  grid-template-columns: repeat(9, .08fr);
  grid-gap: 1px;
  grid-row-gap: 10px;
  margin: 1%;
  padding: 5px;
  background: linear-gradient(0deg, rgba(2,0,36,1) 0%, rgba(40,23,16,1) 0%, rgba(39,23,7,1) 100%);
  border: 1px solid #744b1f;
}

/* NOTE: Button  Fight */

.fight-btn {
  background: linear-gradient(0deg, rgba(173,103,49,1) 0%, rgba(173,103,49,1) 64%, rgba(227,193,87,1) 100%);
  border: 1px solid #000;
  color: #ffd9c2;
  width: 20%;
  margin: 0;
}

.fight-btn:hover {
  background: linear-gradient(0deg, rgb(212, 127, 62) 0%, rgb(196, 117, 56) 64%, rgb(255, 216, 100) 100%);
}

/* NOTE: RESULT STUFF */

.result-overlay {
  opacity: 0;
  visibility: hidden;
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.5);
  display: flex;
  justify-content: center;
  align-items: center;
  transition: opacity 0.3s, visibility 0.3s;
}

.result-modal {
  display: flex;
  flex-direction: column;
  background-color: #583419;
  border: 2px solid #7f522b;
  border-radius: 20px;
  width: 40%;
  height: 70%;
  overflow: hidden;
}

.result-top-header {
  border: 1px solid #583419;
  background: linear-gradient(0deg, rgba(2,0,36,1) 0%, rgba(40,23,16,1) 0%, rgba(39,23,7,1) 100%);
  margin: 1%;
  height: 30%;
}

.result-my-army {
  border: 1px solid #000000;
  background-color: #583419;
  width: 60%;
  height: 100%;
}

.result-header-my-army {
  color: #5d7181;
  text-align: center;
  font-weight: 100;
  background: linear-gradient(0deg, rgba(2,0,36,1) 0%, rgba(34,29,29,1) 0%, rgba(50,44,42,1) 100%);
}

.result-header-my-army h5 {
  margin: 0;
}

.result-enemy-army {
  border: 1px solid #000000;
  background-color: #58351f;
  width: 40%;
  height: 100%;
  border-left: none;
}

.result-container-army {
  display: flex;
  flex-direction: row;
}

/* NOTE: this is result whole container with units: player/enemy */
.units-container {
  display: grid;
  grid-template-columns: 4fr;
  grid-template-columns: repeat(4, 1fr);
  grid-gap: 10px;
  grid-row-gap: 5px;
  margin: 2% 4% 5% 5%;
}

.enemy-units-container { 
  display: grid;
  grid-template-columns: 4fr;
  grid-template-columns: repeat(2, 1fr);
  grid-gap: 10px;
  grid-row-gap: 5px;
  margin: 2% 5% 5% 5%;
}

/* END container units */

/*
  FIXME: change colors button, hover too .heal-btn
*/

.heal-btn {
  /* display: none; /* Przycisk jest ukryty na początku */
  margin-right: 20%;
  margin-top: 20%; 
  font-size: 12px;
  font-weight: bold;
  color: #ffd8c2;  
  background: linear-gradient(0deg, rgba(92,43,5,1) 0%, rgba(151,98,23,1) 64%, rgba(230,212,161,1) 100%);
  border: 1px solid #000;
  border-radius: 5px;
  cursor: pointer;
  width: 100%;  
  height: 45%;
}

.heal-btn:hover {
  background: linear-gradient(0deg, rgb(67, 31, 3) 0%, rgb(115, 74, 17) 64%, rgb(255, 209, 84) 100%);;
}



.btn-container-center {
  display: flex;
  justify-content: center;
}


/*
NOTE: this is 'OK' button
*/
.result-confirm-btn {
  display: flex;
  background: linear-gradient(0deg, rgba(186,115,47,1) 0%, rgba(141,73,28,1) 25%, rgba(141,73,28,1) 73%, rgba(186,115,47,1) 100%);
  border: 1px solid #000;
  align-items: center;
  justify-content: center;
  width: 30%;
  margin: 5px 0 0 0;
}

.result-confirm-btn:hover {
  background: linear-gradient(0deg, rgb(186, 163, 47) 0%, rgba(141,73,28,1) 25%, rgba(141,73,28,1) 73%, rgb(186, 163, 47) 100%);
  
}

